@import './base.css';

/* ändra kod här eller grid eller felx, just nu fungerar det snyggt på telefonen */
.wrapper {
  display: flex;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: "header" "content" "footer";
  row-gap: 2rem;
}

.header {
  grid-area: "header";
}

.content {
  grid-area: "content";
}

.footer {
  grid-area: "footer";
}
