@import './base.css';

.wrapper {
  display: grid;
  grid-template-rows: 1fr ;
  grid-template-areas: "header" "content" "footer";
  row-gap: 2rem;
}

.header {
  grid-area: "header";
}

.content {
  grid-area: "content";
}

.footer {
  grid-area: "footer";
}
